{% extends 'homework3_app/base.html' %}

{% block title %}Детализация по времени{% endblock %}

{% block content %}
    <h2>Детализация заказов клиента {{ customer.username }} </h2>
    {% for days, products in day_filter.items %}
        <h4> Товары в заказах за последние: {{ days }} дней </h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Позиция</th>
                        <th>Товар</th>
                        <th>Цена</th>
                    </tr>
                </thead>
            {% for product in products %}
                <tbody>
                    <tr>
                        <td> {{ forloop.counter }} </td>
                        <td> {{ product.title }} </td>
                        <td> {{ product.price }} </td>
                    </tr>
            {% endfor%}
                </tbody>
            </table>
    {% endfor %}
{% endblock %}